# In our environment, we have the following packages installed.
# Please install torch first, then install the other dependent packages, finally install torch-geomatic.
# We recommend using PyTorch 2.x for better GPU memory utilization and training (testing) acceleration. 
# The torch version we have installed is 2.0.1, the official instructions to install torch 2.0.1 are as follows:
# pip install torch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2
# Then you can install them using the following command
# pip install -r requirements.txt
numpy==1.24.4
matplotlib==3.7.5
scipy==1.10.1
pyrootutils==1.0.4
hydra-core==1.1.1
pytorch-lightning==2.1.0
lightning==2.1.0
pyyaml==6.0.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
torchrl==0.1.1
tensordict==0.1.2
llvmlite==0.41.1
numba==0.58.1
random-insertion==0.3.0
revtorch==0.2.4
huggingface_hub
datasets
networkx
paramiko==2.8.0


# Finally, you can install torch-geomatic (a version of 2.5.1 in EasyNCO) via the official documentation:
# https://pytorch-geometric.readthedocs.io/en/2.5.1/install/installation.html
# pip install torch_geometric==2.5.1
# Note that the version of pyg_lib must be 0.3.1 for prevent the error of " Encountered error: `/lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found "
# pip install pyg_lib==0.3.1 torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.0.0+cu117.html
